<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

   <p>
    Splurty was built by <a target="_blank" href="https://aboutmeleahgriffin.netlify.com/">Leah</a>. This is my first web development project and I am so excited to share it.
  </p>
  <br />
  <p>
    This is one of the hardest things I have ever done, but completely rewarding.  Every #victory is that much sweeter!
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>



  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Leah Griffin</h2>
      <br />
      <p>
        Leah Griffin has worked for the local utility for 18 years.  She is married and has a daughter.  Leah loves to learn, knit and read.  She hopes to add 'web developer' to her resume in the near future.
      </p>
    </div>
  </div>
 
</div>

<br class="clear" />
<br />
<br />
<br />
<br /> 
